@use 'font' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'SuisseIntl', -apple-system, BlinkMacSystemFont, sans-serif;
  // background-color: #0a0b0f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

button {
  font-family: 'SuisseIntl', -apple-system, BlinkMacSystemFont, sans-serif;
}

input {
  font-family: 'SuisseIntl', -apple-system, BlinkMacSystemFont, sans-serif;
}